# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Docker
*.log

# OS / editor
.DS_Store
.vscode/
.idea/
