aws_region   = "us-east-1"
project_name = "devops-portfolio"
environment  = "dev"

availability_zones   = ["us-east-1a", "us-east-1b"]
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.0.0/24", "10.0.1.0/24"]
private_subnet_cidrs = ["10.0.10.0/24", "10.0.11.0/24"]

task_cpu      = 256
task_memory   = 512
desired_count = 2

branch_name             = "main"
use_codecommit          = true
deployment_config_name  = "CodeDeployDefault.ECSLinear10PercentEvery1Minute"
